---
title: Home | Tiffany Hooton Therapy
layout: default
---
<main class="">
    {% include intro.html %}
    <section id="services" class="container-inner    color-primary   stack">
        <h1 class="color-primary">My Services</h1>
        <div class="grid-container    margin-bottom-spacer">
            <div class="grid-item--1-of-3">
                <div class="flex-column">
                    <span class="fa-stack fa-2x     margin-left-negative-small">
                        <i class="fas fa-circle fa-stack-2x    icon-shadow"></i> 
                        <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-2x     margin-top-negative-small margin-right-negative-small">
                        <i class="fas fa-circle fa-stack-2x    icon-shadow"></i> 
                        <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h2>Affirming & Humanistic Therapy</h2>
            </div>
            <div class="grid-item--2-of-3">
                <div class="flex-column">
                    <span class="fa-stack fa-2x     margin-left-negative-small">
                        <i class="fas fa-circle fa-stack-2x     icon-shadow"></i> 
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-2x     margin-top-negative-small margin-right-negative-small">
                        <i class="fas fa-circle fa-stack-2x     icon-shadow"></i> 
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h2>For Individuals, Couples, Families & Adolescents</h2>
            </div>
            <div class="grid-item--3-of-3">
                <div class="flex-column">
                    <span class="fa-stack fa-2x     margin-left-negative-small">
                        <i class="fas fa-circle fa-stack-2x     icon-shadow"></i> 
                        <i class="fas fa-rainbow fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-2x     margin-top-negative-small margin-right-negative-small">
                        <i class="fas fa-circle fa-stack-2x    icon-shadow"></i> 
                        <i class="fas fa-transgender-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h2>For Queer & Trans Folx</h2>
            </div>
        </div>
    </section>
    <section class="banner-alt">
        <div class="flex-container">
            <div class="container">
                <div class="container-inner">
                    <div class="card     bg-light    ">
                        <h2>What To Expect</h2> 
                        <p>
                            My approach to therapy is humanistic, gender-affirming, and incorporates elements of cognitive therapy to challenge unhelpful or self-defeating thinking patterns.
                        </p>
                        <p>
                            My specialty areas include working with queer, trans, and nonbinary individuals and their partners as they navigate identity, transition, and relationship issues. 
                        </p>
                        <h3>
                            Fees
                        </h3>
                        <p>My full fee is $100 per 50 minute session. I offer reduced fees on a sliding scale based on ability to pay. I am unable to accept insurance at this time.</p>
                    </div>
                </div>
                <div class="container">
                        <h2 class="color-off-white">We may work well together if you are:</h2>
                        <ul class="stack">
                            <li>
                                <div class="card    rounded    bg-light">
                                    A queer or trans person looking for support exploring identity or processing stress, trauma, or life changes
                                </div>
                            </li>
                            <li> 
                                <div class="card    rounded     bg-light">
                                    A transgender person, partner of a transgender person, or couple navigating the transition process
                                </div>
                            </li>
                            <li>
                                <div class="card     rounded     bg-light">
                                    A queer or trans couple experiencing relational issues
                                </div>
                            </li>
                        </ul>
                        
                </div>
            </div>
        </div>
    </section>
    <section id="about-me" class="stack    bg-primary">
        <div class="container    stack">
            <div class="flex-container">
                <div class="flex-container">
                    <div class="text-left">
                        <h2 class="">About Me</h2>
                        <p>
                            <div class="right">
                                <img src="/images/tiff-image.jpg" alt="A photo of Tiffany" width="100%" class="shadow--sm">
                                <div class="shadow-in"></div>
                                <a href="https://www.psychologytoday.com/us/therapists/tiffany-hooton-long-beach-ca/703413?sid=5d9d09a0f10f3" target="_blank" rel="noreferrer noopener" class="anchor--button--primary-muted">View my Psychology Today profile</a>
                            </div>
                            I aim to provide all of my clients with a warm, safe, and affirming space to explore their most authentic selves. In our society, trans and queer folx face numerous stressors that may leave them feeling that the systems in place have let them down. This translates to an accumulation of traumatic experiences and relational struggles that lead to feelings of shame, distrust, hurt, and anger. In therapy, I hope to help my clients overcome these feelings while building a sense of empowerment and authenticity, so they feel ready to build meaningful relationships with others and pursue their goals.
                        </p>
                        <p> 
                            After graduating from California State University, Long Beach, with an undergrad degree in sociology, I decided to pursue my Masters of Science in Counseling at California State University, Fullerton. My dual education in both sociology and counselling as well as the obstacles I faced throughout my own life have informed my current therapeutic areas of interest and practice with my clients.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include contact.html %}
</main>