---
title: Partner Perspectives Group Therapy | Tiffany Hooton Therapy
layout: default
---
<main class="stack">
    <div class="container    stack">
        <div class="container-inner">
            <div class="card   bg-light   margin-top-negative">
                <h1>Partner Perspectives</h1>
                <h2 class="h3   color-primary">An open therapy group for partners of trans people</h2>
                <p>
                    When someone's partner begins their transition process, it can often feel isolating, confusing, and distressing. This group provides a space for these partners of trans individuals to to normalize their experience and receive support.
                </p>
                <p>
                    <strong>Partner Perspectives</strong> is a process group where partners of trans people can discuss their feelings, collect their thoughts, and connect with peers in a safe, confidential space.
                </p>
                {% include navigation.html %}
            </div>
        </div>
    </div>
    <div id="partner-perspectives" class="banner-alt">
        <div class="container    color-off-white">
            <div class="container-inner">
                <h1 class="">Goals of the group</h1>
                <h2>Build Community</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices tortor feugiat finibus cursus. Praesent rutrum dui vitae nunc pulvinar, tristique consequat quam iaculis. Donec sed nibh diam. Morbi rutrum auctor dolor vitae malesuada.
                </p>
                <h2>Receive Mutual Support</h2>
                <p>
                    Maecenas tristique pellentesque purus, id luctus turpis imperdiet sed. Integer nunc arcu, facilisis aliquet massa et, aliquet pretium lorem. Nunc gravida odio in libero eleifend, vel fringilla leo malesuada. Vivamus risus felis, pretium porttitor diam ac, euismod efficitur lacus.
                </p>
                <h2>Cultivate Hope</h2>
                <p>
                    Donec tristique sit amet est a elementum. In eget lacinia tellus. Vivamus turpis erat, ultrices id nunc ac, posuere malesuada ex. Nam ut est id justo vulputate varius. Nulla quis lacus erat. Duis placerat eros vitae purus sodales pulvinar a nec massa. Praesent in leo urna. Suspendisse pellentesque ultrices turpis, et pellentesque odio ornare id. 
                </p>
            </div>
        </div>
    </div>
    {% include contact.html %}
</main>