<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="description" content="Depressed, anxious or struggling? Learn more about person-centered, queer and gender affirming therapy in the Long Beach area.">
        <meta property="og:title"       content="Tiffany Hooton Therapy">
        <meta property="og:site_name"   content="Tiffany Hooton Therapy | tiffanyhootontherapy.neocities.org">
        <meta property="og:type"        content="website">
        <meta property="og:image"       content="{{ '/assets/images/tiffscreenshot.png' | prepend: site.baseurl }}">
        <meta property="og:url"         content="https://www.tiffanyhootontherapy.neocities.org">
        <meta property="og:description" content="Queer & Gender Affirming Therapy in Long Beach">

        <link href="/images/tifflogo.png" rel="shortcut icon" type="image/ico">
        <script src="https://kit.fontawesome.com/ee98754881.js" crossorigin="anonymous" defer></script> 
        <link href="https://tiffanyhootontherapy.neocities.org" rel="canonical">
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        <script src="/js/menutoggle.js" defer></script>
    </body>
</html>
