
    <header id="site-title">
        <div class="banner-main jumbotron jumbotron-fluid text-center text-white d-flex justify-content-center align-items-center m-0">
            <div class="container mt-3 mt-md-0">
                <h1 class="responsive-font-4 font-weight-light site-title border-bottom pb-3 p-md-3">Queer & Gender Affirming Therapy</h1>
                <h2 class="responsive-font-3-5 h3">Tiffany Hooton,<small> M.S.</small><br>
                <span class="responsive-font-2-5 site-title font-weight-light">Associate Marriage & Family Therapist<br>
                Associate Professional Clinical Counsellor</h2>
            </div>
        </div>
    </header>