
    <header id="site-title">
        <div class="banner-main jumbotron jumbotron-fluid text-center text-white d-flex justify-content-center align-items-center m-0">
            <div class="container mt-3 mt-md-0">
                <h1 class="responsive-font-4 site-title border-bottom pb-3 p-md-3">Queer & Gender Affirming Therapy</h1>
                <h2 class="responsive-font-3-5 h3 font-weight-regular">Tiffany Hooton,<small> M.S.</small></h2>
                <h3 class="responsive-font-2-5 h5 site-title font-weight-regular">Associate Marriage & Family Therapist<br>
                    Associate Professional Clinical Counsellor</h3>
            </div>
        </div>
    </header>