<section class="container">
    <div class="container-inner">
        <div class="card    bg-light    margin-top-negative">
        <h1>Welcome!</h1>
        <p>
            I am a Marriage and Family Therapist Associate offering therapy in the greater Long Beach area.
        </p>
        <p>
            If you are looking for a therapist who is queer, trans-affirming, and sex worker-allied, feel welcome to <a href="#contact" class="anchor">contact me</a> for a free consultation and we can begin the path of healing together.
        </p>
            {% include navigation.html %}
        </div>
    </div>
</section>