<nav class="navbar navbar-expand-xs fixed-top p-3 navbar-dark" id="navbar">
    <a class="navbar-brand opacity-90 text-white" href="/">Tiffany Hooton Therapy</a>
    <button class="navbar-toggler bg-transparent" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-stack">
            <i class="fas fa-square fa-stack-2x color-primary"></i>
            <i class="fas fa-bars fa-stack-1x text-white"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse opacity-90" id="navbarSupportedContent">
        <ul class="navbar-nav mr-0">
        {% for item in site.data.navigation %}
            <li class="responsive-font-2 nav-item{% if page.url == item.link %} active{% endif %}">
                <a class="nav-link text-white" href="#{{ item.link }}">
                    {{ item.name }}{% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>
