<nav class="navbar "  id="navbar">
    <button id="menu-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>Menu</span>
        <i class="fas fa-bars"></i>
    </button>
    
    <div class="nav-content" id="navbarSupportedContent">
        <ul class="nav-links text-left">
            {% for item in site.data.navigation %}
            <li class="nav-link{% if page.url == item.link %} active{% endif %}">
                <a class="nav-link" href="#{{ item.link }}">
                    {{ item.name }}{% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
