@import "variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/card";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/bootstrap";

.opacity-0 {
    opacity: 0;
}
.opacity-10 {
    opacity: 0.1;
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-90 {
    opacity: 0.9;
}
.color-primary {
    color: $primary;
}
.responsive-font-1 {
    font-size: 1vmax;
}
.responsive-font-2 {
    font-size: 2vmax;
}
.responsive-font-2-5 {
    font-size: 2.5vmax;
}
.responsive-font-3 {
    font-size: 3vmax;
}
.responsive-font-3-5 {
    font-size: 3.5vmax;
}
.responsive-font-4 {
    font-size: 4vmax;
}
.banner-main {
    background-color: $primary; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(240, 0%, 0%, 0.25)), to(hsla(240, 0%, 0%, 0.1))),url("https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    height: 70vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-banner {
    background-color: $primary;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(240, 0%, 0%, 0.45)), to(hsla(240, 0%, 0%, 0.2))),url("https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=645&q=80");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.45), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=645&q=80");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.75), hsla(240, 0%, 0%, 0.4)),url("https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=645&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: Lato, sans-serif;
}
.site-title {
    font-family: Poppins, sans-serif;
    transition: opacity 0.5s ease-in;
}
.poppins {
    font-family: Poppins, sans-serif;
}

.color-primary {
    color: $primary;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Staatliches, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 300px;

  @media screen and (min-width: 576px) {
      height: 200px;
  }

  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $primary; 
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: $primary;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideFade {
  -webkit-animation-name: slideFade;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: slideFade;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes slideFade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes slideFade {
  from {opacity: .1}
  to {opacity: 1}
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
/*@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
*/
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .responsive-font-1 {
        font-size: 1vmin;
    }
    .responsive-font-2 {
        font-size: 2vmin;
    }
    .responsive-font-2-5 {
        font-size: 2.5vmin;
    }
    .responsive-font-3 {
        font-size: 3vmin;
    }
    .responsive-font-3-5 {
        font-size: 3.5vmin;
    }
    .responsive-font-4 {
        font-size: 4vmin;
    }
}
