@import "/assets/vendor/normalize.css";
@import "variables";

:root {
    --main-font-color: #353535;
    --main-bg: #ecf0f1;
    --pink: #B2417C;
    --pink-muted: #ECD0DE;
    --light-pink: #FCC0C5;
    --purple: #6C80FD;
    --off-white: #ecf0f1;
    --light: #f8f9fa;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Lato, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: var(--main-font-color);
    background-color: var(--main-bg);
    font-weight: 400;
    text-align: center;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    @media #{$mq-medium} {
        font-size: $base-font-size*1.2;
        line-height: $base-line-height*1.2;
    }
    
    @media #{$mq-large} {
        font-size: $base-font-size*1.3;
    }
    
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
    }
    
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.6;
    }
}
h1,h2,h3,h4,h5,h6 {
    font-family: Poppins, sans-serif;
    line-height: $header-line-height;
}
small {
    font-weight: lighter;
    font-size: 0.86em;
}
.container {
    margin: 0 4%;
    
    @media #{$mq-medium} {
        margin: 0 8%;
    }
    
    @media #{$mq-large} {
        margin: 0 16%;
    }
    
    @media #{$mq-xlarge} {
        margin: 0 20%;
    }
}
.flex-container { // only use in .container
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    @media #{$mq-medium} {
        flex-flow: row nowrap;
    }
}
.flex-column { // only use in .container
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    
    & > .grid-item-1 {
        grid-area: 1 / 1 / 1 / 2;
    }
    & > .grid-item-2 {
        grid-area: 2 / 1 / 2 / 2;
    }
    & > .grid-item-3 {
        grid-area: 3 / 1 / 3 / 2;
    }
    
    @media #{$mq-large} {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        
        & > .grid-item-1 {
            grid-area: 1 / 1 / 2 / 2;
        }
        & > .grid-item-2 {
            grid-area: 1 / 2 / 2 / 3;
        }
        & > .grid-item-3 {
            grid-area: 1 / 3 / 2 / 4;
        }
    }
}
.container-inner {
    margin: 0 4%;
    
    @media #{$mq-large} {
        margin: 0 8%;
    }
    
    @media #{$mq-xlarge} {
        margin: 0 10%;
    }
}
.card {
    padding: 0.75em;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    
    @media #{$mq-small} {
        padding: 1.5em;
    } 
}
.rounded {
    border-radius: 10px;
}

.stack {
    --space: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
} 

.stack > * + *,
.stack:first-child {
    margin-top: var(--space);
}
.margin-top-negative {
    margin-top: -6em;
}
.margin-top-negative-small {
    margin-top: -1.5em;
}
.margin-right-negative-small {
    margin-right: -1.5em;
}
.margin-left-negative-small {
    margin-left: -1.5em;
}
.margin-bottom-spacer {
    margin-bottom: 6em;
}
.text-left {
    text-align: left;
}
.text-dark-muted {
    color: #353535;
}
.text-white-muted {
    color: #D991AC;
}
.bg-primary {
    background-color: var(--pink);
    color: var(--off-white);
}

.color-primary {
    color: var(--pink);
}
.bg-accent {
    background-color: var(--purple);
}
.color-accent {
    color: var(--purple);
}
.color-primary-light {
    color: var(--pink-light);
}
.color-primary-muted {
    color: var(--pink-muted);
}
.bg-primary-light {
    background-color: var(--light-pink);
}
.bg-light {
    background-color: var(--light);
    color: var(--main-font-color);
}
.bg-main {
    background-color: var(--off-white);
}
.bg-main-transparent {
    background-color: #ecf0f1dd;
}
.bg-primary-muted {
    background-color: var(--pink-muted);
}
.banner-main {
    color: var(--off-white);
    background-color: var(--pink); 
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(240, 0%, 0%, 0.25)), to(hsla(240, 0%, 0%, 0.1))),url("/assets/images/waves_small.jpg");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("/assets/images/waves_small.jpg");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("/assets/images/waves_small.jpg");
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.site-title {
    font-family: Poppins, sans-serif;
    border-bottom: 0.05em solid var(--off-white);
    padding-bottom: 0.5em;
}
.about-banner {
    background-color: var(--pink-muted);
    margin: 0 auto;
    padding-bottom: 1.5em;
}
ul {
    list-style: none;
    padding: 0;
}
.not-found-banner {
    background-color: var(--main-bg);
    background-image: -webkit-gradient(hsla(240, 0%, 0%, 0.35), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.35), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.45), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    position: relative;
    z-index: 10;
    padding: 10px;
    background-color: var(--light);
    transition: 0.3s ease-in-out;
    border-top: 4px solid var(--pink);
    min-height: 3em;
    
    .active:visited {
        color: var(--main-color);
    }
    
    button {
        display: none;
    }
    
    div {
        padding: 0;
        margin: 0 auto;
    }
}
.js nav button {
    display: block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-font-color);
    margin: 0 auto;
    
    &:hover,
    &:active,
    &:focus {
        color: var(--main-color);
    }
    
    span {
        display: block;
    }
    
    @media #{$mq-small} {
        display: none;
    }
}
.js .nav-content {
    display: none;
    transition: 0.5s ease-in-out;
    
    @media #{$mq-small} {
        display: block;
    }
}
.js .show {
    display: block
}
.nav-links {
    list-style: none;
    padding: 0;
    
    @media #{$mq-small} {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
}
.nav-link:link,
.nav-link:visited {
    color: var(--main-font-color);
    text-decoration: none;
    display: block;
    padding: 0.5em;
    
    &:hover,
    &:active,
    &:focus {
        color: var(--pink);
    }
}
.icon-shadow {
    filter: drop-shadow(0px 1px 2px rgba(20,20,20,0.3));
}
.top {
    z-index: 10;
}
form {
    margin-bottom: 1.5em;
}
input, textarea {
    background-color: var(--light);
    margin: 0 0 0.75em 0.75em;
    padding: 0.75em;
    border: none;
    border-radius: 5px;
    resize: none;
    
    @media #{$mq-medium} {
        margin: 0.75em;
    }
}
input[type=submit] {
    background-color: var(--pink);
    color: var(--off-white);
}

input[type=submit]:disabled,
input[type=submit]:disabled:hover,
input[type=submit]:disabled:active,
input[type=submit]:disabled:focus {
    background-color: gray;
    color: var(--main-font-color);
}
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
    background-color: var(--pink-muted);
    color: var(--main-font-color);
}
.form-row {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.75em;
}
a {
    &:link {
        color: var(--purple);
        text-decoration: none;
    }
    &:visited {
        color: var(--pink-muted);
        opacity: 0.8;
    }
    &:hover,
    &:active,
    &:focus {
        color: var(--pink);
    }
}
.button {
    &:link,
    &:visited {
        text-align: center;
        padding: 0.75em 0.25em;
        display: block;
        cursor: pointer;
        background-color: var(--pink);
        color: var(--off-white);
        border-radius: 10px;
    }
    &:hover,
    &:active,
    &:focus {
        background-color: var(--pink-muted);
        color: var(--main-font-color);
    }
    
}
.logo {
    &:link {
        color: none;
        background-color: initial;
        text-decoration: none;
    }
    &:visited {
        background-color: initial;
        color: none;
    }
    &:hover,
    &:active,
    &:focus {
        background-color: initial;
        color: none;
    }
}
.header-link {
    text-decoration: none;
    &:link {
        color: var(--main-color);
        padding-bottom: 5px;
    }
    &:visited {
        color: var(--main-color-muted);
    }
    &:active,
    &:focus,
    &:hover {
        color: var(--main-bg);
        border-bottom: 5px solid var(--accent-color); 
    }
}
.list-group {
    list-style: none;
    padding: 0;
}
.list-group-row {
    display: flex;
    flex-flow: column;
    border-top: 4px solid var(--main-color-muted);
    padding: 0;
    margin: 0.5em 0;
    
    @media #{$mq-large} {
        flex-flow: row nowrap;
        margin: 1em 0;
        
    }
}
.list-group-img {
    padding: 0;
    object-fit: cover;
    margin: 0;
    flex: 1;
}
.list-group-body {
    padding: 0.5em;
    flex: 2;
}
.no-style-link {
    text-decoration: none;
    &:link,
    &:visited {
        display: inline;
        color: initial;
        background-color: transparent;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    &:hover,
    &:focus,
    &:active {
        opacity: 0.95;
        border: none;
    }
}
.border-bottom {
    border-bottom: 0.15em solid var(--main-color);
}
.border-bottom-accent {
    border-bottom: 0.15em solid var(--accent-color);
}
footer {
    text-align: center;
    background-color: var(--main-bg-muted);
    
    ul {
        list-style: none;
        padding: 0;
        
        li {
            padding: 0.25em 0;
        }
    }
    
    .flex-container div {
        padding: 0 3em;
    }
}