@import "variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/close";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
//@import "bootstrap/scss/bootstrap";
html {
    scroll-behavior: smooth;
}
.opacity-0 {
    opacity: 0;
}
.opacity-10 {
    opacity: 0.1;
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-90 {
    opacity: 0.9;
}
.color-primary {
    color: $primary;
}
.responsive-font-1 {
    font-size: 1rem * 0.7;
}
.responsive-font-2 {
    font-size: 1.2rem * 0.7;
}
.responsive-font-2-5 {
    font-size: 1.4rem * 0.7;
}
.responsive-font-3 {
    font-size: 1.6rem * 0.7;
}
.responsive-font-3-5 {
    font-size: 1.8rem * 0.7;
}
.responsive-font-4 {
    font-size: 2rem * 0.7;
}
.banner-main {
    background-color: $primary; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(240, 0%, 0%, 0.25)), to(hsla(240, 0%, 0%, 0.1))),url("/assets/images/waves_small.jpg");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("/assets/images/waves_small.jpg");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.25), hsla(240, 0%, 0%, 0.1)),url("/assets/images/waves_small.jpg");
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-banner {
    background-color: $primary;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(240, 0%, 0%, 0.45)), to(hsla(240, 0%, 0%, 0.2))),url("/assets/images/mountains_small.jpg");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.45), hsla(240, 0%, 0%, 0.2)),url("/assets/images/mountains_small.jpg");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.75), hsla(240, 0%, 0%, 0.4)),url("/assets/images/mountains_small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.not-found-banner {
    background-color: $primary;
    background-image: -webkit-gradient(hsla(240, 0%, 0%, 0.35), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-image: -o-linear-gradient(hsla(240, 0%, 0%, 0.35), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-image: linear-gradient(hsla(240, 0%, 0%, 0.45), hsla(240, 0%, 0%, 0.2)),url("https://images.unsplash.com/photo-1547496832-84e64458210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: Lato, sans-serif;
}
.site-title {
    font-family: Poppins, sans-serif;
    transition: opacity 0.5s ease-in;
}
.poppins {
    font-family: Poppins, sans-serif;
}

.color-primary {
    color: $primary;
}
.bg-accent {
    background-color: $accent;
}
.color-accent {
    color: $accent;
}
.color-primary-light {
    color: $light-pink;
}
.bg-primary-light {
    background-color: $light-pink;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
    opacity: 0.9;
}

p {
    opacity: 0.9;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 300px;

  @media screen and (min-width: 576px) {
      height: 200px;
  }

  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $primary; 
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: $primary;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideFade {
  -webkit-animation-name: slideFade;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: slideFade;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes slideFade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes slideFade {
  from {opacity: .1}
  to {opacity: 1}
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
/*@media (min-width: 576px) { 
}
*/

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .responsive-font-1 {
        font-size: 1rem * 0.9;
    }
    .responsive-font-2 {
        font-size: 1.2rem * 0.9;
    }
    .responsive-font-2-5 {
        font-size: 1.4rem * 0.9;
    }
    .responsive-font-3 {
        font-size: 1.6rem * 0.9;
    }
    .responsive-font-3-5 {
        font-size: 1.8rem * 0.9;
    }
    .responsive-font-4 {
        font-size: 2rem * 0.9;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .responsive-font-1 {
        font-size: 1rem;
    }
    .responsive-font-2 {
        font-size: 1.2rem;
    }
    .responsive-font-2-5 {
        font-size: 1.4rem;
    }
    .responsive-font-3 {
        font-size: 1.6rem;
    }
    .responsive-font-3-5 {
        font-size: 1.8rem;
    }
    .responsive-font-4 {
        font-size: 2rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
/*@media (min-width: 1368px) { 
    .responsive-font-1 {
        font-size: 1rem * 1.1;
    }
    .responsive-font-2 {
        font-size: 1.2rem * 1.1;
    }
    .responsive-font-2-5 {
        font-size: 1.4rem * 1.1;
    }
    .responsive-font-3 {
        font-size: 1.6rem * 1.1;
    }
    .responsive-font-3-5 {
        font-size: 1.8rem * 1.1;
    }
    .responsive-font-4 {
        font-size: 2rem * 1.1;
    }
}*/
@media (min-width: 2560px) { 
    .responsive-font-1 {
        font-size: 1rem * 1.5;
    }
    .responsive-font-2 {
        font-size: 1.2rem * 1.5;
    }
    .responsive-font-2-5 {
        font-size: 1.4rem * 1.5;
    }
    .responsive-font-3 {
        font-size: 1.6rem * 1.5;
    }
    .responsive-font-3-5 {
        font-size: 1.8rem * 1.5;
    }
    .responsive-font-4 {
        font-size: 2rem * 1.5;
    }
}
